main {
    /* border: 2px solid red; */
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    padding: 10px;
    column-gap: 5px;
}

.social--icons,
.mail {

    height: 100vh;
    /* border: 1px solid greenyellow; */
}

section {
    border-radius: 10px;
}

.main--content {
    /* height: 100vh; */
    display: grid;
    grid-template-rows: repeat(3fr, 5);
    row-gap: 10px;
    border: 1px solid rgb(125, 141, 100);
    padding: 10px;
    width: 80vw;

}

.intro {

    /* border: 1px solid greenyellow; */

    position: relative;
    top: 2em;

}

.start {


    font-family: 'SF mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    color: rgb(98, 250, 199);
    font-weight: 400;

}

.name {

    color: rgb(248, 246, 246);
    font-weight: 700;
}

.sec {

    color: rgb(184, 173, 173);
}

.highlight {
    color: aquamarine;
}

.text {
    /* font: 1.4em 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', system-ui, sans-serif;
    ; */
    color: #ffffff;
    opacity: 70%;
    /* width: 37rem; */
}

.resume {
    border: 3px solid rgb(117, 248, 205);
    height: 5em;
    width: 15rem;
    /* position: relative;
    left: 6rem;
    top: 6rem; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.resumel {
    text-decoration: none;
    color: rgb(117, 248, 205);
    /* font: 1.3rem "Roboto-slab"; */
    /* border: 2px solid red; */

}

/* .about {

    border: 1px solid greenyellow;
}

.experience {

    border: 1px solid greenyellow;
}

.projects {

    border: 1px solid greenyellow;
}

.contact {

    border: 1px solid greenyellow;
} */