@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Poppins:wght@300;400;500&display=swap');

:root {
    --navy: #14253e;
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: var(--navy);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-thumb {
    background: rgb(202, 198, 198);
    border-radius: 10px;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

header {
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
    width: 99.8vw;
    /* box-shadow: 0 5px 50px #020b1977; */
    position: relative;
    /* z-index: 5000; */
    backdrop-filter: blur(0.5rem);
}

.fixed-top {
    position: fixed;
    top: 0;
    /* width: 100%; */
    /* background-color: black; */
    color: white;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-navigation a {
    text-decoration: none;
    color: rgb(246, 237, 237);
    margin-inline-end: 0.95em;
}

.primary-navigation a:hover {
    text-decoration: none;
    color: rgb(246, 237, 237);
    text-shadow: 0 0 10px #fff,
        0 0 10px rgb(150, 144, 144);
}

.primary-navigation a>[aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.45em;
    font-family: Lato;
}


.LogoSvg {
    width: 50%;
    width: 4.95rem;
    /* height: 6s.25rem; */
    cursor: pointer;
}



@media (max-width: 39.5em) {
    .primary-navigation {
        z-index: 1000;
        --gap: 3em;
        position: fixed;
        inset: 0 0 0 40%;
        /* inset is used for logical inline from the end sides*/
        flex-direction: column;
        /* we can use the min funtion so that the padding will be chosen based on how the device screen is */
        padding: min(10vh, 6rem) 2em;
        background: hsl(0 0% 10% /0.2);
        transform: translateX(100%);
        transition: transform 0.7s ease-out;
    }

    .primary-navigation[data-visible='true'] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        width: 2rem;
        aspect-ratio: 1;
        top: 2.6rem;
        right: 2rem;
        z-index: 9999;
        background: url('assets/icon-hamburger.svg');
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url('assets/icon-close.svg');
        background-repeat: no-repeat;
    }
}


@media(min-width: 39.5em) {
    .primary-navigation {
        padding: 2em;

    }
}

@media (min-width:39.7em) and (max-width:57em) {
    .primary-navigation {
        /* font-size: 1em; */
        margin-inline-end: 1em;
        padding: 0;
    }

    .primary-navigation a>span[aria-hidden='true'] {
        display: none;
    }

}

/* we use @supports to check if a browser supports the key-value property
and if it does use the css inside it */
@supports (backdrop-filter: blur(0.2rem)) {
    .primary-navigation {
        backdrop-filter: blur(0.2rem);
    }
}